<%- include('../layouts/userHeader.ejs') %>


	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="/home">Back to Home<span class="lnr lnr-arrow-left"></span></a>
						
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="images/bck.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>Perfumes are much more than just a smell. They have the power to evoke feelings of love, energy, power, happiness, awe, sensuality and peace. </p>
							<a class="primary-btn" href="/login">Back to login</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Register Here!</h3>
						<form class="row login_form" action="/register" method="POST" id="contactForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input id="text-field" type="text" class="form-control"  name="name" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'">
							</div>
							<div class="col-md-12 form-group">
								<input id="text-field" type="text" class="form-control"  name="email" placeholder="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
							</div>
              <div class="col-md-12 form-group">
								<input id="text-field" type="text" class="form-control"  name="mobile" placeholder="mobile" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mobile'">
							</div>
              <div class="col-md-12 form-group">
								<input id="password-field"type="password" class="form-control"  name="password" placeholder="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'password'">
							</div>
               <div class="col-md-12 form-group">
								<input id="password-field"  type="password" class="form-control"  name="confirmPassword" placeholder="confirmPassword" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Confirm password'">
							</div>
							 <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="referralCode" name="referralCode" placeholder="Referral Code (optional)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Referral Code (optional)'">
            </div>
							<!-- <div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div> -->
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Sign Up</button>
								<!-- <a href="/forgotpassword" >Forgot Password?</a> -->
							</div>
							
				<p class="text-danger"><%=(typeof message!=='undefined')?message:""%></p>
			</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<!-- start footer Area -->
	
<%- include('../layouts/userFooter.ejs') %>
